In [15]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib

import scipy
from scipy.interpolate import UnivariateSpline

import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.formula.api import glm
import statistics as st 

from time import time

In [2]:
cd

/Users/karatechop

In [3]:
cd /Users/karatechop/Documents/GitHub/senior-thesis-pretextual-stops/Data/Formatted with YOE/for final analysis

/Users/karatechop/Documents/GitHub/senior-thesis-pretextual-stops/Data/Formatted with YOE/for final analysis

In [4]:
ls

ALL-BPD-AB953-DUSK-LOC.csv    ALL-SDPD-AB953-DUSK.csv
ALL-MARIN-AB953-DUSK-LOC.csv  ALL-SFPD-AB953-DUSK-LOC.csv
ALL-OAKLAND-AB953-DUSK.csv    sf_pops_zips.csv

In [5]:
OAK = pd.read_csv('ALL-OAKLAND-AB953-DUSK.csv')
OAK['date'].min()

'2017-03-20'

In [6]:
BERK = pd.read_csv('ALL-BPD-AB953-DUSK-LOC.csv')
BERK['date'].min()

'2020-10-04'

In [7]:
MARIN = pd.read_csv('ALL-MARIN-AB953-DUSK-LOC.csv')
MARIN.shape

(777, 19)

### MODEL

#### SDPD

hispanic/latino/a 
white  
black/african american

In [16]:
SDPD = pd.read_csv('ALL-SDPD-AB953-DUSK.csv')
group = 'hispanic/latino/a'

SDPD_VOD = SDPD[(SDPD['itp']==1) & 
                ((SDPD['mins_before_dusk']>30) | (SDPD['mins_before_dusk']<0)) &
                ((SDPD['race']=='white')|(SDPD['race']==group))]

#https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/
vod_SD_dusk = pd.get_dummies(SDPD_VOD, columns = ['race'], drop_first=False, prefix='')\
                       [['date',
                         'mins_stop_time',
                         'location',
                         'Experience',
                         'dark',
                         f'_{group}']].reset_index(drop=True)\
                                                    .rename(columns={f'_{group}':'minority'})


# vod_SF_dusk['Experience'] = vod_SF_dusk['Experience'].astype(int)
vod_SD_dusk['mins_stop_time'] = vod_SD_dusk['mins_stop_time'].astype(int)
vod_SD_dusk['location'] = vod_SD_dusk['location'].astype(str)

In [17]:
sd_loc_table = vod_SD_dusk.groupby('location',as_index=False).agg('count')\
                                                             .rename(columns={'date':'count'})\
                                                             .iloc[:,:2]
sd_loc_table.describe()
sd_loc_table['freq'] = ''
sd_loc_table['count'].describe()
sd_loc_table.loc[sd_loc_table['count']<75,'freq']='low_freq'
sd_loc_table.loc[(sd_loc_table['count']>=75)&(sd_loc_table['count']<=275),'freq']='average'
sd_loc_table.loc[(sd_loc_table['count']>275),'freq']='high_freq'
sd_loc_table = sd_loc_table.sort_values(by='count',ascending=False).reset_index(drop=True)
sd_loc_table.head()

vod_SD_dusk = vod_SD_dusk.merge(sd_loc_table[['location','freq']],on='location')


def custom_round(x, base=5):
    return int(base * round(float(x)/base))

vod_SD_dusk['mins_stop_time'] = [custom_round(i,base=5) for i in vod_SD_dusk['mins_stop_time']]

vod_SD_dusk.head()

         date  mins_stop_time location  Experience  dark  minority       freq
0  2018-07-15            1170    313.0          26     0         0  high_freq
1  2019-02-07            1110    313.0          18     1         1  high_freq
2  2019-02-07            1125    313.0          28     1         0  high_freq
3  2019-02-07            1185    313.0          28     1         0  high_freq
4  2018-07-16            1110    313.0          18     0         1  high_freq

In [20]:
# Load your data
df = vod_SD_dusk  # The DataFrame containing the independent and dependent variables

# Create a natural spline with 6 degrees of freedom using the time variable and the dependent variable
print('debug, pre-spline')
spline = UnivariateSpline(df.index.values, df['mins_stop_time'], k=5, s=0.3)
print('debug, post-spline')



# Add the natural spline as a predictor to the DataFrame
df['time_spline_df6'] = spline(df.index)

# Use the `glm` function to fit a logistic regression model with the other independent variables and the natural spline
model = glm('minority ~ C(dark) + C(freq) + Experience + time_spline_df6', data=df, family=sm.families.Binomial())

# Fit the model and display the summary
log_reg = model.fit()
results = log_reg.summary()
OR = pd.DataFrame(
    {
        "OR": log_reg.params,
        "Lower CI": log_reg.conf_int()[0],
        "Upper CI": log_reg.conf_int()[1],
    },
)
OR = np.exp(OR)

print(f'{OR}\n\n\n{results}\n\n\n\n\n\n\n\n\n')
df

debug, pre-spline
debug, post-spline
                            OR  Lower CI  Upper CI
Intercept             3.388827  1.850612  6.205594
C(dark)[T.1]          1.137817  1.068441  1.211698
C(freq)[T.high_freq]  1.078333  1.016510  1.143916
C(freq)[T.low_freq]   1.269195  1.147269  1.404078
Experience            0.985781  0.982355  0.989219
time_spline_df6       0.998901  0.998351  0.999452


                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               minority   No. Observations:                21859
Model:                            GLM   Df Residuals:                    21853
Model Family:                Binomial   Df Model:                            5
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -15095.
Date:                Wed, 07 Dec 2022   Deviance:                       30190.
Time:                        01:45:14   Pearson chi2:                 2.19e+04
No. Iterations:                     4   Pseudo R-squ. (CS):           0.005121
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                1.2205      0.309      3.954      0.000       0.616       1.825
C(dark)[T.1]             0.1291      0.032      4.022      0.000       0.066       0.192
C(freq)[T.high_freq]     0.0754      0.030      2.504      0.012       0.016       0.134
C(freq)[T.low_freq]      0.2384      0.052      4.626      0.000       0.137       0.339
Experience              -0.0143      0.002     -8.062      0.000      -0.018      -0.011
time_spline_df6         -0.0011      0.000     -3.909      0.000      -0.002      -0.001
========================================================================================

,date,mins_stop_time,location,Experience,dark,minority,freq,time_spline_df6
0,2018-07-15,1170,313.0,26,0,0,high_freq,1170.000026
1,2019-02-07,1110,313.0,18,1,1,high_freq,1109.999768
2,2019-02-07,1125,313.0,28,1,0,high_freq,1125.000873
3,2019-02-07,1185,313.0,28,1,0,high_freq,1184.998144
4,2018-07-16,1110,313.0,18,0,1,high_freq,1110.002489
...,...,...,...,...,...,...,...,...
21854,2022-03-22,1045,126.0,6,0,0,low_freq,1044.999490
21855,2022-03-22,1090,126.0,6,0,0,low_freq,1090.000318
21856,2022-05-25,1060,126.0,1,0,1,low_freq,1059.999867
21857,2022-06-06,1055,126.0,1,0,0,low_freq,1055.000033
21858,2020-01-08,1145,245.0,10,1,0,low_freq,1144.999997

#### SFPD

'black/african american'
'white'
'hispanic/latino(a)'

In [35]:
SFPD = pd.read_csv('ALL-SFPD-AB953-DUSK-LOC.csv')

group = 'hispanic/latino(a)'
SFPD_VOD = SFPD[(SFPD['itp']==1)&
                ((SFPD['mins_before_dusk']>30) | (SFPD['mins_before_dusk']<0)) &
                ((SFPD['race']==f'{group}')|(SFPD['race']=='white'))]


#https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/
vod_SF_dusk = pd.get_dummies(SFPD_VOD, columns = ['race'], drop_first=False, prefix='')\
                       [['date',
                         'mins_stop_time',
                         'zip',
                         'Experience',
                         'dark',
                         f'_{group}']].reset_index(drop=True)\
                                                    .rename(columns={f'_{group}':'minority',
                                                                      'zip':'location'})


# vod_SF_dusk['Experience'] = vod_SF_dusk['Experience'].astype(int)
vod_SF_dusk['mins_stop_time'] = vod_SF_dusk['mins_stop_time'].astype(int)
vod_SF_dusk['location'] = vod_SF_dusk['location'].astype(str)

pop_zips = pd.read_csv('sf_pops_zips.csv').iloc[1:,:].rename(columns={'zip':'location'})
vod_SF_dusk = vod_SF_dusk.merge(pop_zips,on='location').sort_values(by='date').reset_index(drop=True)
vod_SF_dusk['pop'] = vod_SF_dusk['pop'].astype(int)

vod_SF_dusk['mins_stop_time'] = [custom_round(i,base=5) for i in vod_SF_dusk['mins_stop_time']]

vod_SF_dusk['pop_cat'] = 'average'
vod_SF_dusk.loc[vod_SF_dusk['pop']<35403-19787,'pop_cat'] = 'low'
vod_SF_dusk.loc[vod_SF_dusk['pop']>35403+19787,'pop_cat'] = 'high'
vod_SF_dusk.head()

,date,mins_stop_time,location,Experience,dark,minority,pop,pop_cat
0,2018-07-01,1100,94124,5.0,0,1,27105,average
1,2018-07-01,1120,94103,28.0,0,0,17813,average
2,2018-07-01,1185,94110,5.0,0,0,71118,high
3,2018-07-01,1185,94110,5.0,0,0,71118,high
4,2018-07-01,1100,94117,11.0,0,0,38311,average

In [36]:
sf_loc_table = vod_SF_dusk.groupby('location',as_index=False).agg('count')\
                                                             .rename(columns={'date':'count'})\
                                                             .iloc[:,:2]


sf_loc_table['freq'] = ''
sf_loc_table['count'].describe()
sf_loc_table.loc[sf_loc_table['count']<60,'freq']='low_freq'
sf_loc_table.loc[(sf_loc_table['count']>=60)&(sd_loc_table['count']<=230),'freq']='average'
sf_loc_table.loc[(sf_loc_table['count']>230),'freq']='high_freq'
sf_loc_table = sf_loc_table.sort_values(by='count',ascending=False).reset_index(drop=True)
sf_loc_table.head()

vod_SF_dusk = vod_SF_dusk.merge(sf_loc_table[['location','freq']],on='location')

In [37]:
vod_SF_dusk

,date,mins_stop_time,location,Experience,dark,minority,pop,pop_cat,freq
0,2018-07-01,1100,94124,5.0,0,1,27105,average,high_freq
1,2018-07-07,1175,94124,3.0,0,0,27105,average,high_freq
2,2018-07-17,1215,94124,12.0,0,0,27105,average,high_freq
3,2018-07-18,1170,94124,5.0,0,1,27105,average,high_freq
4,2018-07-19,1150,94124,5.0,0,1,27105,average,high_freq
...,...,...,...,...,...,...,...,...,...
10505,2019-09-03,1110,94129,12.0,0,0,4715,low,low_freq
10506,2019-09-23,1100,94129,12.0,0,0,4715,low,low_freq
10507,2019-10-15,1230,94129,12.0,1,0,4715,low,low_freq
10508,2019-10-15,1260,94129,12.0,1,0,4715,low,low_freq
10509,2019-11-01,1210,94129,12.0,1,0,4715,low,low_freq

In [38]:
# Load your data
df = vod_SF_dusk  # The DataFrame containing the independent and dependent variables

# Create a natural spline with 6 degrees of freedom using the time variable and the dependent variable
print('debug, pre-spline')
spline = UnivariateSpline(df.index.values, df['mins_stop_time'], k=5, s=0.3)
print('debug, post-spline')



# Add the natural spline as a predictor to the DataFrame
df['time_spline_df6'] = spline(df.index)

# Use the `glm` function to fit a logistic regression model with the other independent variables and the natural spline
model = glm('minority ~ C(dark) + C(freq) + Experience + time_spline_df6', data=df, family=sm.families.Binomial())

# Fit the model and display the summary
log_reg = model.fit()
results = log_reg.summary()
OR = pd.DataFrame(
    {
        "OR": log_reg.params,
        "Lower CI": log_reg.conf_int()[0],
        "Upper CI": log_reg.conf_int()[1],
    },
)
OR = np.exp(OR)

print(f'{OR}\n\n\n{results}\n\n\n\n\n\n\n\n\n')
df

debug, pre-spline
debug, post-spline
                            OR  Lower CI  Upper CI
Intercept             0.097401  0.041374  0.229299
C(dark)[T.1]          0.901129  0.818536  0.992056
C(freq)[T.high_freq]  1.128547  0.993984  1.281327
C(freq)[T.low_freq]   0.294064  0.087380  0.989625
Experience            0.977690  0.972533  0.982875
time_spline_df6       1.001577  1.000816  1.002340


                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               minority   No. Observations:                10510
Model:                            GLM   Df Residuals:                    10504
Model Family:                Binomial   Df Model:                            5
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -6667.7
Date:                Wed, 07 Dec 2022   Deviance:                       13335.
Time:                        02:08:18   Pearson chi2:                 1.05e+04
No. Iterations:                     4   Pseudo R-squ. (CS):            0.01071
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               -2.3289      0.437     -5.331      0.000      -3.185      -1.473
C(dark)[T.1]            -0.1041      0.049     -2.123      0.034      -0.200      -0.008
C(freq)[T.high_freq]     0.1209      0.065      1.867      0.062      -0.006       0.248
C(freq)[T.low_freq]     -1.2240      0.619     -1.977      0.048      -2.437      -0.010
Experience              -0.0226      0.003     -8.361      0.000      -0.028      -0.017
time_spline_df6          0.0016      0.000      4.060      0.000       0.001       0.002
========================================================================================

,date,mins_stop_time,location,Experience,dark,minority,pop,pop_cat,freq,time_spline_df6
0,2018-07-01,1100,94124,5.0,0,1,27105,average,high_freq,1099.999964
1,2018-07-07,1175,94124,3.0,0,0,27105,average,high_freq,1175.000317
2,2018-07-17,1215,94124,12.0,0,0,27105,average,high_freq,1214.998807
3,2018-07-18,1170,94124,5.0,0,1,27105,average,high_freq,1170.002523
4,2018-07-19,1150,94124,5.0,0,1,27105,average,high_freq,1149.996692
...,...,...,...,...,...,...,...,...,...,...
10505,2019-09-03,1110,94129,12.0,0,0,4715,low,low_freq,1109.997227
10506,2019-09-23,1100,94129,12.0,0,0,4715,low,low_freq,1100.001935
10507,2019-10-15,1230,94129,12.0,1,0,4715,low,low_freq,1229.999118
10508,2019-10-15,1260,94129,12.0,1,0,4715,low,low_freq,1260.000231
10509,2019-11-01,1210,94129,12.0,1,0,4715,low,low_freq,1209.999974

In [471]:
pd.options.display.float_format = '{:.3f}'.format
formula = f"black ~ C(dark,Treatment(reference=0)) \
                  + mins_stop_time \
                  + C(freq,Treatment(reference=0)) \
                  + C(pop_cat,Treatment(reference=0)) "
log_reg = smf.logit(formula, data = vod_SF_dusk).fit()
results = log_reg.summary()
OR = pd.DataFrame(
    {
        "OR": log_reg.params,
        "Lower CI": log_reg.conf_int()[0],
        "Upper CI": log_reg.conf_int()[1],
    },
)
OR = np.exp(OR)

print(f'{OR}\n\n\n{results}\n\n\n\n\n\n\n\n\n')

Optimization terminated successfully.
         Current function value: 0.653986
         Iterations 5
                                                OR  Lower CI  Upper CI
Intercept                                    0.027     0.012     0.060
C(dark, Treatment(reference=0))[T.1]         0.945     0.863     1.035
C(freq, Treatment(reference=0))[T.high_freq] 0.896     0.793     1.013
C(freq, Treatment(reference=0))[T.low_freq]  0.534     0.316     0.902
C(pop_cat, Treatment(reference=0))[T.high]   1.410     1.273     1.562
C(pop_cat, Treatment(reference=0))[T.low]    0.911     0.802     1.035
mins_stop_time                               1.003     1.002     1.004


                           Logit Regression Results
==============================================================================
Dep. Variable:                  black   No. Observations:                11080
Model:                          Logit   Df Residuals:                    11073
Method:                           MLE   Df Model:                            6
Date:                Mon, 05 Dec 2022   Pseudo R-squ.:                0.009288
Time:                        22:31:19   Log-Likelihood:                -7246.2
converged:                       True   LL-Null:                       -7314.1
Covariance Type:            nonrobust   LLR p-value:                 7.460e-27
================================================================================================================
                                                   coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
Intercept                                       -3.6149      0.411     -8.796      0.000      -4.420      -2.809
C(dark, Treatment(reference=0))[T.1]            -0.0567      0.046     -1.225      0.221      -0.147       0.034
C(freq, Treatment(reference=0))[T.high_freq]    -0.1096      0.062     -1.753      0.080      -0.232       0.013
C(freq, Treatment(reference=0))[T.low_freq]     -0.6268      0.267     -2.346      0.019      -1.150      -0.103
C(pop_cat, Treatment(reference=0))[T.high]       0.3437      0.052      6.565      0.000       0.241       0.446
C(pop_cat, Treatment(reference=0))[T.low]       -0.0927      0.065     -1.425      0.154      -0.220       0.035
mins_stop_time                                   0.0028      0.000      7.627      0.000       0.002       0.004
================================================================================================================

In [470]:
pd.options.display.float_format = '{:.3f}'.format
formula = f"black ~ C(dark,Treatment(reference=0)) \
                  + mins_stop_time \
                  + C(freq,Treatment(reference=0)) \
                  + C(pop_cat,Treatment(reference=0)) \
                  + Experience"
log_reg = smf.logit(formula, data = vod_SF_dusk).fit()
results = log_reg.summary()
OR = pd.DataFrame(
    {
        "OR": log_reg.params,
        "Lower CI": log_reg.conf_int()[0],
        "Upper CI": log_reg.conf_int()[1],
    },
)
OR = np.exp(OR)

print(f'{OR}\n\n\n{results}\n\n\n\n\n\n\n\n\n')

Optimization terminated successfully.
         Current function value: 0.643705
         Iterations 5
                                                OR  Lower CI  Upper CI
Intercept                                    0.087     0.038     0.198
C(dark, Treatment(reference=0))[T.1]         0.920     0.840     1.008
C(freq, Treatment(reference=0))[T.high_freq] 0.990     0.874     1.121
C(freq, Treatment(reference=0))[T.low_freq]  0.501     0.296     0.848
C(pop_cat, Treatment(reference=0))[T.high]   1.177     1.059     1.308
C(pop_cat, Treatment(reference=0))[T.low]    1.081     0.948     1.233
mins_stop_time                               1.002     1.001     1.003
Experience                                   0.958     0.952     0.963


                           Logit Regression Results
==============================================================================
Dep. Variable:                  black   No. Observations:                11080
Model:                          Logit   Df Residuals:                    11072
Method:                           MLE   Df Model:                            7
Date:                Mon, 05 Dec 2022   Pseudo R-squ.:                 0.02486
Time:                        22:17:30   Log-Likelihood:                -7132.2
converged:                       True   LL-Null:                       -7314.1
Covariance Type:            nonrobust   LLR p-value:                 1.433e-74
================================================================================================================
                                                   coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
Intercept                                       -2.4467      0.422     -5.800      0.000      -3.274      -1.620
C(dark, Treatment(reference=0))[T.1]            -0.0831      0.047     -1.781      0.075      -0.175       0.008
C(freq, Treatment(reference=0))[T.high_freq]    -0.0098      0.063     -0.155      0.877      -0.134       0.115
C(freq, Treatment(reference=0))[T.low_freq]     -0.6919      0.269     -2.575      0.010      -1.219      -0.165
C(pop_cat, Treatment(reference=0))[T.high]       0.1632      0.054      3.033      0.002       0.058       0.269
C(pop_cat, Treatment(reference=0))[T.low]        0.0780      0.067      1.164      0.244      -0.053       0.209
mins_stop_time                                   0.0020      0.000      5.330      0.000       0.001       0.003
Experience                                      -0.0430      0.003    -14.589      0.000      -0.049      -0.037
================================================================================================================

In [270]:
# from patsy import dmatrix
# transformed_x2 = dmatrix("bs(vod_SD_dusk.mins_stop_time, df=6, include_intercept=False)",
#                         {"vod_SD_dusk.mins_stop_time": vod_SD_dusk.mins_stop_time}, return_type='dataframe')
# transformed_x2